<%- include('head.ejs') %>
<% if (blog) { %>
<!-- page-title -->

<section class="section ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Hydratation et course à pied </h4>
                <h1 class="text-primary">Qui dit vrai?</h1>
            </div>
        </div>
    </div>
</section>
<!-- /page-title -->
<!-- blog single -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="list-inline d-flex justify-content-between py-3">
                    <li class="list-inline-item"><i class="ti-calendar mr-2"></i>June 2, 2020</li>
                </ul>
                <img src="../images/blogs/blog_01/im2.jpg" alt="post-thumb" class="w-100 img-fluid mb-4">
                <div class="content">
                    <blockquote>
                        En course à pied, quand il s’agit d’hydratation, on peut lire tout et son
                        contraire. Pour vous aider à faire le point sur les vrais bons gestes à
                        adopter, nous nous sommes livrés à un vrai/faux avec Fabrice Kuhn
                        médecin-nutritionniste et coureur expérimenté.
                    </blockquote>
                    <blockquote class="bg-info">QUAND JE PERDS TROP DE POIDS EN TRANSPIRANE
                        JE PERDS AUSSI MES PERFORMANCES.</blockquote>
                    <h3 class="text-primary">FAUX</h3>
                    <p>Il est vrai que des études ont montré que perdre 2 % de son poids
                        lors d’une épreuve physique entraînait environ 20 % de pertes de
                        performances physiques et mentales. Mais ces études ont été
                        réalisées en laboratoire dans des conditions bien loin de la réalité.
                        De nouvelles études, plus proches du réel, tendent au contraire à
                        montrer que chez les coureurs de tous niveaux, et notamment de très
                        haut niveau, la déshydratation suit le niveau de performances. C’est
                        le cas en Ironman, ou sur marathon où, lors de l’un de ses records du
                        monde, Haile Gebrselassie avait perdu plus de 9 % de son poids de
                        corps.</p>
                    <blockquote class="bg-info">QUAND JE PERDS TROP DE POIDS EN TRANSPIRANE
                        JE PERDS AUSSI MES PERFORMANCES.</blockquote>
                    <h3 class="text-primary">FAUX</h3>

                    <p>Il est vrai que des études ont montré que perdre 2 % de son poids
                        lors d’une épreuve physique entraînait environ 20 % de pertes de
                        performances physiques et mentales. Mais ces études ont été
                        réalisées en laboratoire dans des conditions bien loin de la réalité.
                        De nouvelles études, plus proches du réel, tendent au contraire à
                        montrer que chez les coureurs de tous niveaux, et notamment de très
                        haut niveau, la déshydratation suit le niveau de performances. C’est
                        le cas en Ironman, ou sur marathon où, lors de l’un de ses records du
                        monde, Haile Gebrselassie avait perdu plus de 9 % de son poids de
                        corps.</p>



                    <img src="../images/blogs/blog_01/im1.jpg" alt="image" class="img-fluid">
                    <blockquote class="bg-info">IL FAUT BOIRE AVANT D’AVOIR SOIF.</blockquote>
                    <h3 class="text-primary">FAUX</h3>
                    <p>La sensation de soif apparaît effectivement en temps normal quand
                        on est légèrement déshydraté. Mais, on l’a vu, cela n’affecte pas la
                        performance. Tout notre système s’adapte lors d’un effort physique
                        et va donc également ajuster notre capacité à gérer les liquides. La
                        sensation de soif arrivera au moment opportun pour s’hydrater, il faut
                        donc boire à sa soif.</p>
                    <blockquote class="bg-info">IL FAUT BOIRE RÉGULIÈREMENT
                        ET EN PETITES QUANTITÉS.</blockquote>
                    <h3 class="text-primary">FAUX</h3>
                    <p> MAIS... Pour ce qui concerne les quantités
                        il
                        faut
                        par
                        réussir
                        à
                        optimiser
                        l’organisme.
                        l’eau
                        stagne
                        Si
                        dans
                        on
                        l’absorption
                        boit
                        trop peu
                        et n’est
                        l’estomac
                        pas absorbée, si on boit trop d’un coup,
                        on peut perturber le système digestif.
                        Il faut distendre un minimum l’estomac
                        pour accélérer sa vidange mais boire
                        trop serait inconfortable. Pour s’hydratercorrectement,il faut consommer une boisson sucrée-salée. C’est un juste milieu
                        assez difficile à trouver, mais là encore, le meilleur moyen de ne pas se tromper est
                        de boire à sa soif !</p>
                        <img src="../images/blogs/blog_01/im3.jpg" alt="image" style="height: auto;"class="img-fluid">

                        <blockquote class="bg-info"> IL FAUT BEAUCOUP BOIRE AVANT
                        ET APRÈS UNE COMPÉTITION.</blockquote>
                    <h3 class="text-primary">FAUX</h3>
                    <p>Il faut coupler l’eau avec
                        un apport en
                        sucre et en sel. L’idéal est une bonne
                        boisson
                        isotonique,
                        bien
                        dosée
                        en
                        sodium et en glucides mais, en lisant les
                        informations, il n’est pas toujours évident
                        devoir ce qu’il y a dedans. On peut aussi
                        essayer de faire sa propre boisson. Un tiers
                        de jus de raisin pour deux tiers d’eau et une
                        pincée de sel. Ce ne sera pas la boisson
                        idéale mais elle sera correcte et toujours
                        bien mieux que de l’eau pure !</p>
                    <blockquote class="bg-info">HYPONATRÉMIE, ATTENTION
                        DANGER !</blockquote>
                    <h3 class="text-primary">FAUX</h3>
                    <p>L’hyponatrémie est un phénomène observé
                        chez les coureurs de tous niveaux en sport
                        d’endurance, notamment quand il fait
                        chaud. Scientifiquement, elle se définit
                        par des niveaux de sodium anormalement
                        bas dans le sang.
                        Les cellules du corps, pour bien
                        fonctionner, ont besoin que ces
                        niveaux restent stables.
                        Or, lorsque nous transpirons, nous
                        éliminons beaucoup de sodium.
                        En se sur hydratant avec de l’eau
                        pure on dilue alors les niveaux
                        sanguins.
                        sont
                        Les
                        diverses
                        conséquences
                        et
                        peuvent
                        catastrophiques
                        :
                        migraine,
                        troubles digestifs,
                        perte connaissance,
                        et
                        de
                        décès.
                        Il
                        est
                        l’hyperhydratation
                        fréquemment
                        les
                        être
                        confusion,
                        à
                        coma
                        noter que
                        touche plus
                        femmes,
                        à
                        cause de différences hormonales
                        et de gabarits.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget search-box">
                    <i class="ti-search"></i>
                    <input type="search" id="search-post" class="form-control border-0 pl-5" name="search-post"
                        placeholder="Search">
                </div>
                <div class="widget">
                    <h6 class="mb-4">LATEST POST</h6>
                    <div class="media mb-4">
                        <div class="post-thumb-sm mr-3">
                            <img class="img-fluid" src="../images/blogs/blog_01/im1.jpg" alt="post-thumb">
                        </div>
                        <div class="media-body">
                            <ul class="list-inline d-flex justify-content-between mb-2">
                                <li class="list-inline-item">Post By Jhon</li>
                                <li class="list-inline-item">June 2, 2018</li>
                            </ul>
                            <h6><a class="text-dark" href="blog-single.html">Lorem ipsum dolor sit amet, consectetur</a>
                            </h6>
                        </div>
                    </div>
                    <div class="media mb-4">
                        <div class="post-thumb-sm mr-3">
                            <img class="img-fluid" src="../images/blogs/blog_01/im1.jpg" alt="post-thumb">
                        </div>
                        <div class="media-body">
                            <ul class="list-inline d-flex justify-content-between mb-2">
                                <li class="list-inline-item">Post By Jhon</li>
                                <li class="list-inline-item">June 2, 2018</li>
                            </ul>
                            <h6><a class="text-dark" href="blog-single.html">Lorem ipsum dolor sit amet, consectetur</a>
                            </h6>
                        </div>
                    </div>
                    <div class="media mb-4">
                        <div class="post-thumb-sm mr-3">
                            <img class="img-fluid" src="images/masonary-post/post-3.jpg" alt="post-thumb">
                        </div>
                        <div class="media-body">
                            <ul class="list-inline d-flex justify-content-between mb-2">
                                <li class="list-inline-item">Post By Jhon</li>
                                <li class="list-inline-item">June 2, 2018</li>
                            </ul>
                            <h6><a class="text-dark" href="blog-single.html">Lorem ipsum dolor sit amet, consectetur</a>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <h6 class="mb-4">CATEGORIES</h6>
                    <ul class="list-inline tag-list">

                        <li class="list-inline-item m-1"> <a href="/">Sante</a></li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<% } %>

<%- include('footer.ejs') %>